
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: $primary_text_color;

    font-size: 14px;

    a {
        color: $primary_text_color;
        text-decoration: none;
    }
}

ul {
    padding: 0;
    margin: 0;

    list-style-type: none;
}

img {
    max-width: 100%;
}

.container-fluid {
    margin: 0;
    padding: 0;
    max-width: 1920px;
}
