
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;

    a {
        text-decoration: none;
    }
}

svg {
    color: green;
}

ul {
    padding: 0;
    margin: 0;

    list-style-type: none;
}

img {
    max-width: 100%;
}

.container-fluid {
    margin: 0;
    padding: 0;
    width: 1920px;
}
