$primary_text_color: #3c3c3c;

$color-main: #E6F1FA;
$color-main2: #EB5757;
$color-main2-filter: brightness(0) saturate(100%) invert(63%) sepia(30%) saturate(7306%) hue-rotate(325deg) brightness(96%) contrast(92%);
$color-advanced: #57A4EB;
$color-black: #000000;
$color-black2: #3F3F3F;
$color-white: #FFFFFF;
$color-gray: #828282;
$color-light: #F0F2F2;
$color-divider: #C4C4C4;
$color-link: #0F6DB1;
