@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'), url('/resources/js/src/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: local('Roboto-Medium'), url('/resources/js/src/assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-SemiBold';
    src: local('Oswald-SemiBold'), url('/resources/js/src/assets/fonts/Oswald-SemiBold.ttf') format('truetype');
}

