/**********    SINGLE ITEM (show)   **********/

.single-item {
    -webkit-box-shadow: -1px 12px 27px -4px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: -1px 12px 27px -4px rgba(34, 60, 80, 0.1);
    box-shadow: -1px 12px 27px -4px rgba(34, 60, 80, 0.1);
    border-radius: 15px;
    padding: 15px;
}

.single-item__title {
    font-weight: bold;
}

.single-item__row {
    border-bottom: 1px solid #cccccc;
}

.single-item__row img {
    max-width: 100%;
    max-height: 300px;
}

/**********    SELECT2   **********/

.select2-search__field:focus {
    border:1px dashed #007eff!important;
    border-radius: 5px!important;
}

.select2-search__field {
    padding: 5px!important;
    border-radius: 5px!important;
}

span.select2-dropdown {
    border: 2px solid #007eff!important;
    border-radius: 5px!important;
}

.select2-search__field::placeholder {
    color: #212529!important;
    opacity: 0.4!important;
}

.select2-selection__choice {
    padding: 5px!important;
}

/*****************   TABLE   *****************/

.table td, .table th {
    padding: 7px!important;
}

